h1{
	text-transform: uppercase !important;
	font-weight: 700;
}

h2 {
	margin-top: 4em;
	font-size:160%;
	line-height: 1.5;
}

h2:after{
	content:' ';
    display:block;
    border:1px solid #AAA;
}

h3 {
	margin-top: 1em;
	font-size:120%;
	line-height: 1.5;
}

a, .prev-next-area a p.prev-next-title {
	color: rgba(85, 145, 156) !important;
}

a:hover, .prev-next-area a p.prev-next-title:hover{
	text-decoration: underline !important;
}



h1, h2, h3, h4 {
	margin-bottom: 0.5rem;
	font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


p{
	font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	line-height: 1.75;
    margin-top: 0;
  	margin-bottom: 1rem;
}